<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">

	<listeners>
		<listener class-name="com.listeners.TestListener"></listener>
	</listeners>
	<test name="Test1">
		<classes>
			<class name="com.pageTest.LoginTest" />
			<class name="com.pageTest.DashboardTest" />
			<class name="com.pageTest.UserTest" />
		</classes>
	</test>
</suite> 
